@import 'styles/mixins';
@import 'styles/variables';
@import '/fonts/fonts.css';

.container {
	@include flex();
	width: 100%;
	padding: 1rem;
	font-size: $fontLarge;
	.leftContainer {
		flex: 2;
		padding-left: 2rem;
		font-weight: bold;

		.blogIcon {
			font-size: clamp(16px, 2vw, 36px);
			font-size: 2.5rem;
		}

		.blogName {
			font-family: 'Cassandra', sans-serif;
			cursor: pointer;
			font-size: 2rem;
		}
	}
	.rightContainer {
		flex: 1;
		@include flex($justify: flex-end, $align: center);
	}
}

@media screen and (min-width: $bp_tablet) {
	.container {
		.rightContainer {
			.menuIcon {
				display: none;
			}
		}
	}
}
