@font-face {
	font-family: 'Segoe UI Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Regular'),
		url('./segoi_ui/Segoe\ UI.woff') format('woff');
}

@font-face {
	font-family: 'Segoe UI Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Italic'),
		url('./segoi_ui/Segoe\ UI\ Italic.woff') format('woff');
}

@font-face {
	font-family: 'Segoe UI Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Bold'),
		url('./segoi_ui/Segoe\ UI\ Bold.woff') format('woff');
}

@font-face {
	font-family: 'Segoe UI Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Segoe UI Bold Italic'),
		url('./segoi_ui/Segoe\ UI\ Bold\ Italic.woff') format('woff');
}

@font-face {
	font-family: "Cassandra";
	src: url("./cassandra-font/CassandraPersonalUseRegular-3BjG.ttf");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}