@import 'styles/variables';
.container {
	margin: 0 0 2rem 0;
	.title {
		margin: 0 0 1rem 0;
		cursor: pointer;
	}
	.excerpt {
		margin: 0 0 1rem 0;
	}
	.metadata {
		display: grid;
		grid-template-columns: 1fr 1fr;
		color: $metadataColor;
		gap: 1rem;

		.date {
			font-style: italic;
			font-weight: bold;
			color: $blackColor;
		}
	}
}
