@import 'styles/mixins';
@import 'styles/variables';

.container {
	height: 100vh;
	padding-top: 3rem;
	@include flex($direction: column, $align: center);
	.avatarContainer {
		padding: 2rem 0 0 0;
		width: 75%;
	}
	.greetings {
		margin: 1rem 0;
		font-size: 1.3rem;
		font-weight: bold;
		text-align: center;
	}
	.shortIntro {
		text-align: center;
	}
}
