@import '../../styles/variables';
@import '../../styles/mixins';

.container {
	text-align: center;
	margin: 2rem 0 0 0;
	background: $blackColor;
	color: $whiteColor;
	height: 5rem;
	@include flex($justify: center, $align: center);
}
