@import '../../styles/variables';
@import '../../styles/mixins';

.container {
	text-align: center;
	margin: 2rem 0 0 0;
	background: $blackColor;
	color: $whiteColor;
	height: 6rem;
	@include flex($justify: center, $align: center);
	.childContainer {
		@include flex();
		width: 100%;
		.leftChildContainer {
			flex: 2;
			text-align: right;
		}
		.rightChildContainer {
			padding: 4px 0;
			flex: 1;
			@include flex($justify: space-around);
			a {
				color: $whiteColor;
			}
		}
	}
}
