$metadataColor: #979797;
$blackColor: #000000;
$whiteColor: #FFFFFF;
$fontLarge: 1.5rem;
$mainWidth: 95%;

$bp_phone: '320px';
$bp_tablet: '768px';
$bp_laptop: '1224px';
$bp_desktop: '1848px';

$desptop_max_width: 42%;
$tablet_max_width: 85%;