html,
body {
	font-family: 'Segoe UI Regular', sans-serif;
	h1,
	p {
		margin: 0;
	}

	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 1.7rem;
	}

	.topPadding {
		margin-top: 5rem;
	}

	.vcenter {
		text-align: center;
	}

	.pagePadding {
		padding: 0 0.8rem;
	}
}
